body {
  background-color: #212121;
}

.portal {
  position: fixed;
  width: 100%;
  cursor: pointer;
  height: 100%;
  opacity: 0;
  transition:
    transform 0.4s,
    opacity 1.0s;
  box-shadow: 0 0 20px 10px #999;
  transform: scale(0.4);
  z-index: 10000;
}

.portal.portal-reveal {
  transform: scale(1.0);
  bottom: 0px;
  left: 0px;
}

portal.fade-in {
  opacity: 1.0;
}
